h1 {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}
a {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline;
	margin: 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}
h3 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
h4 {
	font-family: "Raleway", sans-serif
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
body {
	text-align: center;
	margin: 0;
}
header {
	background: #F15B31;
	padding: 30px 20px 30px 20px;
}
nav {
	background: #00A6B3;
	padding: 20px 0 20px 0;
}
main {
	width: 850px;
	margin: 35px auto 35px auto;
}
img {
	margin: 40px 8px 0 8px;
}
footer {
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}
.message {
	font-family: "Raleway", sans-serif;
	float: right;
}
.name {
	color: #F15B31;
	font-weight: 700;	
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
